#!/usr/bin/make -f

SRCDIR = $(CURDIR)
include /usr/share/postgresql-common/pgxs_debian_control.mk
clean: debian/control
.PHONY: debian/control

%:
	dh $@

override_dh_auto_build:
	+pg_buildext build $(CURDIR) build-%v

override_dh_auto_install:
	+pg_buildext install $(CURDIR) build-%v postgresql-%v-pgmemcache

override_dh_auto_clean:
	+pg_buildext clean $(CURDIR) build-%v
